@model IEnumerable<Proyecto_Final_Web.Models.Factura>
@{
    ViewData["Title"] = "Listado de Facturas";
    Layout = null; // No usar layout para el PDF
}


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdFactura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdReserva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdClienteNavigation.NombreCompleto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEstadoFacturaNavigation.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEmision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdReserva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClienteNavigation.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEstadoFacturaNavigation.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMetodoPagoNavigation.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEmision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>