@model Proyecto_Final_Web.Models.Factura

@{
    ViewData["Title"] = "Delete";
}



<div class="delete-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-container">
                    <div class="form-header">
                        <div class="icon-container">
                            <div class="main-icon">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                        <h1><i class="fas fa-exclamation-triangle me-3"></i>Eliminar Factura</h1>
                        <h4>Confirma la eliminación de esta factura permanentemente</h4>
                    </div>

                    <h3 class="confirmation-message">
                        <i class="fas fa-question-circle"></i> ¿Estás seguro de que quieres eliminar esto?
                    </h3>

                    <div class="details-content">
                        <h4>Detalles de Factura</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Total">
                                        @Html.DisplayNameFor(model => model.Total)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Total)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="FechaEmision">
                                        @Html.DisplayNameFor(model => model.FechaEmision)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.FechaEmision)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdClienteNavigation">
                                        @Html.DisplayNameFor(model => model.IdClienteNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdClienteNavigation.IdUsuario)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdEstadoFacturaNavigation">
                                        @Html.DisplayNameFor(model => model.IdEstadoFacturaNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdEstadoFacturaNavigation.IdEstadoFactura)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdMetodoPagoNavigation">
                                        @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdMetodoPagoNavigation.IdMetodoPago)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdReservaNavigation">
                                        @Html.DisplayNameFor(model => model.IdReservaNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdReservaNavigation.IdReserva)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdFactura" />
                        <div class="action-buttons">
                            <input type="submit" value="Eliminar" class="btn-delete" />
                            <a asp-action="Index" class="back-link">
                                Volver a la Lista
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
