@model Proyecto_Final_Web.Models.Factura

@{
    ViewData["Title"] = "Details";
}



<div class="details-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-container">
                    <div class="form-header">
                        <div class="icon-container">
                            <div class="main-icon">
                                <i class="fas fa-info-circle"></i> <!-- Icono para detalles -->
                            </div>
                        </div>
                        <h1><i class="fas fa-file-invoice me-3"></i>Detalles de Factura</h1>
                        <h4>Información detallada de la factura seleccionada</h4>
                    </div>

                    <div class="details-content">
                        <h4>Detalles de Factura</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Total">
                                        @Html.DisplayNameFor(model => model.Total)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Total)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="FechaEmision">
                                        @Html.DisplayNameFor(model => model.FechaEmision)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.FechaEmision)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdClienteNavigation">
                                        @Html.DisplayNameFor(model => model.IdClienteNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdClienteNavigation.IdUsuario)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdEstadoFacturaNavigation">
                                        @Html.DisplayNameFor(model => model.IdEstadoFacturaNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdEstadoFacturaNavigation.IdEstadoFactura)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdMetodoPagoNavigation">
                                        @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdMetodoPagoNavigation.IdMetodoPago)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdReservaNavigation">
                                        @Html.DisplayNameFor(model => model.IdReservaNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdReservaNavigation.IdReserva)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@Model?.IdFactura" class="btn-action-edit">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-action="Index" class="back-link">
                            <i class="fas fa-arrow-left"></i> Volver a la Lista
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
