@model Proyecto_Final_Web.Models.Tarifa

@{
    ViewData["Title"] = "Details";
}



<div class="details-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-container">
                    <div class="form-header">
                        <div class="icon-container">
                            <div class="main-icon">
                                <i class="fas fa-info-circle"></i> <!-- Icono para detalles -->
                            </div>
                        </div>
                        <h1><i class="fas fa-tags me-3"></i>Detalles de Tarifa</h1>
                        <h4>Información detallada de la tarifa seleccionada</h4>
                    </div>

                    <div class="details-content">
                        <h4>Detalles de la Tarifa</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="DiaSemana">
                                        @Html.DisplayNameFor(model => model.DiaSemana)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.DiaSemana)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="HoraInicio">
                                        @Html.DisplayNameFor(model => model.HoraInicio)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.HoraInicio)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="HoraFin">
                                        @Html.DisplayNameFor(model => model.HoraFin)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.HoraFin)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Valor">
                                        @Html.DisplayNameFor(model => model.Valor)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Valor)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Descripcion">
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Descripcion)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Activa">
                                        @Html.DisplayNameFor(model => model.Activa)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Activa)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="IdCanchaNavigation">
                                        @Html.DisplayNameFor(model => model.IdCanchaNavigation)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.IdCanchaNavigation.Nombre)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@Model?.IdTarifa" class="btn-action-edit">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-action="Index" class="back-link">
                            <i class="fas fa-arrow-left"></i> Volver a la Lista
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
