@model Proyecto_Final_Web.Models.Cancha

@{
    ViewData["Title"] = "Details";
}



<div class="details-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-container">
                    <div class="form-header">
                        <div class="icon-container">
                            <div class="main-icon">
                                <i class="fas fa-info-circle"></i> <!-- Icono para detalles -->
                            </div>
                        </div>
                        <h1><i class="fas fa-futbol me-3"></i>Detalles de Cancha</h1>
                        <h4>Información detallada de la cancha seleccionada</h4>
                    </div>

                    <div class="details-content">
                        <h4>Detalles de la Cancha</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Nombre">
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Nombre)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="TipoCancha">
                                        @Html.DisplayNameFor(model => model.TipoCancha)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.TipoCancha)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Ubicacion">
                                        @Html.DisplayNameFor(model => model.Ubicacion)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Ubicacion)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Descripcion">
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Descripcion)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="Activa">
                                        @Html.DisplayNameFor(model => model.Activa)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Activa)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="FechaCreacion">
                                        @Html.DisplayNameFor(model => model.FechaCreacion)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.FechaCreacion)
                                    </dd>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-group">
                                    <dt data-label="FechaActualizacion">
                                        @Html.DisplayNameFor(model => model.FechaActualizacion)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.FechaActualizacion)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@Model?.IdCancha" class="btn-action-edit">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-action="Index" class="back-link">
                            <i class="fas fa-arrow-left"></i> Volver a la Lista
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        // No hay scripts de validación específicos para esta página
    }
}
